<script src="javascripts/forms.js"></script>
<h1>Your Playlists</h1>
<table class="table">
    <tr>
        <th>Playlist Name</th>
    </tr>

    <% lists.forEach(function(list) { %>
        <tr>
            <td><a href="/playlists/show/<%=list._id%>" class="showPlaylistLink" id="<%=list._id%>"><%=list.name%></a></td>
            <td><button class='button is-small addToStandbyButton' id="<%=video.id.videoId%>" title="<%=video.snippet.title%>">Add to Standby</button></td> 
        </tr>
        
    <% })%>
    
</table>

