<!DOCTYPE HTML>
<html>
    <head>
        <%- include("partials/header") %>
    </head>

    <body>

        <%- include('partials/navbar') %>
        <div class='container'>
            
        
        <div class="tile is-ancestor">
            
            <div class="tile is-7 is-vertical is-parent">
                <p>There are currently <span id=numUsers></span> users in the room</p> 
                <div class="tile is-child">
                    <iframe type="text/html" width="640" height="385" id="player" 
                    src="https://www.youtube.com/embed/sGPrx9bjgC8?enablejsapi=1"></iframe>
                </div>

                <div class"tile is-child">
                    <!-- <button id="authorize-button" class="button" style="display: none;">Authorize</button>
                    <button id="signout-button" class="button" style="display: none;">Sign Out</button> -->
                    <h1><span class="fa fa-lock"></span> Node Authentication</h1>
                            <%= user %>
                            <p>Login or Register with:</p>
                    
                            <a href="/login" class="btn btn-default"><span class="fa fa-user"></span> Local Login</a>
                            <a href="/signup" class="btn btn-default"><span class="fa fa-user"></span> Local Signup</a>


                    <pre id="content"></pre>
                </div>

                <!-- <script async defer src="https://apis.google.com/js/api.js" onload="this.onload=function(){};handleClientLoad()" onreadystatechange="if (this.readyState === 'complete') this.onload()">
                </script> -->

            </div>
                
            <div class="tile is-5 is-vertical is-parent">
                <%- include('partials/newPlaylist') %>
                
                <div class="tile is-child">
                    <div class='search area'>
                            <%- include("partials/search",{sRes:null}) %>
                    </div>

            </div>
               

                <div class="tile is-child">
                    
                </div>


                </div>
                   
            </div>

        </div>
        
            
                
                
        </div>

    
    </body>
</html>